.home-container {
  font-family: 'Copperplate Gothic Bold', sans-serif;
  
}

.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  gap: 2rem;
}

.text-content {
  flex: 1;
  min-width: 300px;
  padding: 5em;
}

.text-content h1 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  margin-top: 8rem;;
}

.text-content p {
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

.learn-more-btn {
  background-color: #fbd102;
  padding: 10px 20px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.learn-more-btn span {
  background-color: #fff;
  padding: 5px;
  border-radius: 50%;
}

.image-content {
  position: relative;
  display: flex;
  justify-content: center;
}

.banner-img {
  width: 100%;
  max-width: 40rem;
  height: auto;
}

.left-img {
  max-width: 250px;
}

.profile-wrapper,
.profile-wrapp {
  position: absolute;
  border: 4px solid #fbd102;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
  background-color: transparent;
  top: 30%;
  width: 200px;
  height: 200px;
}

.profile-img,
.profile-image {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.profile-wrapper:hover .profile-img,
.profile-wrapp:hover .profile-image {
  transform: scale(1.1);
}

.profile-wrapper::after,
.profile-wrapp::after {
  content: "➤";
  position: absolute;
  bottom: -30px;
  font-size: 24px;
  color: #fbd102;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.profile-wrapper:hover::after,
.profile-wrapp:hover::after {
  opacity: 1;
}

.section-divider {
  width: 60%;
  border-top: 2px solid #fbd102;
  margin: auto;
}

.right {
  text-align: right;
}

.learn-more-final {
  text-align: center;
  padding: 3rem 1rem;
  background-color: #f9f9f9;
}

.learn-more-final h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.learn-more-final p {
  font-size: 1.1rem;
  max-width: 600px;
  margin: auto auto 2rem;
}

@media (max-width: 768px) {
  .section {
    flex-direction: column;
    text-align: center;
  }

  .text-content {
    text-align: center !important;
    padding: 2em 1em !important;
  }

  .right {
    text-align: center !important;
  }

  .profile-wrapper,
  .profile-wrapp {
    position: relative;
    top: 0;
    margin-top: 1.5rem;
    width: 150px;
    height: 150px;
  }

  .profile-img,
  .profile-image {
    width: 100%;
    height: 100%;
  }

  .banner-img,
  .left-img {
    max-width: 45%;
    height: auto;
  }

  .section-two {
    flex-direction: column-reverse;
  }
}
